.right-container {
    width: 30%;
    background-color: black;
  }

  .bold{
      font-weight: bolder;
  }
  .margin-top-bottom-10{
      margin: 15px 0;
  }

 
.secondary-color{
    color :#6e767d;
}

.font-size-12{
    font-size: 12px;
    font-weight: bolder;
}

.right-container{
    display: flex;
    flex-direction: column;
}

.search-box{
    display: flex;
    background-color: #202327;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}
.search-box>*{
    background-color: inherit;
}
.search-box input{
    border: none;
    flex-grow: 1;
    padding: 5px;
}
.search-box i{
    margin-top: 5px;
}

.side-container{
    margin:10px 15px;
    background: #15181c;
    padding: 10px;
    border-radius: 20px;
}

.card{
    display: flex;
}
.card-body{
    display: flex;
    flex-direction: column;
}

.card-image>img{
    width: 75px;
    height: 75px;
    border-radius: 10px;
}


 .card-two{
     display: flex;
     align-items: center;
     width: 100%;
 }
 .card-two>*{
     margin: 10px 0;
     flex-grow: 1;
 }  

 .who-to-follow-container{
     display: flex;
     flex-direction: column;
 }

 .card-two img.border-radius-50{
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

.card-two .follow-btn{
    background: white;
    color: black;
    border: none;
    padding: 4px 16px;
    font-weight: bolder;
    font-size: 1rem;  
    border-radius: 20px;  
}

.trending-color{
    color:#1da1f2;
}